@font-face {
    font-family: 'hankengrotesk';
    src: url('/assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
    font-weight: 500 700 800;
}

/* custom properties */

:root{
    /* font-sizes */
    --fs-400: 1.125rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 1.75rem;
    --fs-800: 2rem;
    --fs-900: 5rem;

    /* font-family */
    --font-family-default: 'hankengrotesk';

    /* font-weight */
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-extra-bold: 800;

    /* colors  */
    /* naming of colors is reference through material design */
    --clr-summary-accent-hsl-1: 0, 100%, 67%;
    --clr-summary-accent-hsl-2: 39, 100%, 56%;
    --clr-summary-accent-hsl-3: 166, 100%, 37%;
    --clr-summary-accent-hsl-4: 234, 85%, 45%;

    --clr-neutral-hsl-100: 0, 0%, 100%; /* 100 lighter */
    --clr-neutral-hsl-200: 221, 100%, 96%;
    --clr-neutral-hsl-300: 241, 100%, 89%;
    --clr-neutral-hsl-700: 224, 30%, 27%; /* 700 darker */

    --clr-primary-hsl-400: 252, 100%, 67%;
    --clr-primary-hsl-500: 256, 72%, 46%;
    --clr-secondary-hsl-400: 241, 81%, 54%;
    --clr-secondary-hsl-500: 241, 72%, 46%;

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(221, 100%, 96%);
    --clr-neutral-300: hsl(241, 100%, 89%);
    --clr-neutral-700: hsl(224, 30%, 27%); 

    --clr-primary-400: hsl(252, 100%, 67%);
    --clr-primary-500: hsl(256, 72%, 46%);
    --clr-secondary-400: hsl(241, 81%, 54%);
    --clr-secondary-500: hsl(241, 72%, 46%);

    --clr-gradient-bg: linear-gradient(var(--clr-primary-400), var(--clr-secondary-400));
    --clr-gradient-circle: linear-gradient(hsl(var(--clr-primary-hsl-500),1), hsl(var(--clr-secondary-hsl-500),0));

}

*{
    margin: 0;
    box-sizing: border-box; /* the width includes padding and margin also. */
    font: inherit; 
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100vh;

    font-family: var(--font-family-default);
    font-size: var(--fs-400);
    color: var(--clr-neutral-700);
    background: var(--clr-neutral-100);
}

.flow > * + * {
    margin-top: var(--flow-space, 2rem);
}

.flow--space-small{
    --flow-space: .75rem;
}

.section-title{
    font-weight: var(--fw-bold);
    font-size: var(--fs-600);
}

.button{
    width: 100%;
    border: none;
    border-radius: 1000px;
    padding: 1rem 2rem;
    color: var(--clr-neutral-100);
    background-color: var(--clr-neutral-700);
    cursor: pointer;
}

.button:hover{
    background: var(--clr-gradient-bg);
}

.container{
    --border-radius: 2.5rem;
    --padding: 2.5rem;
    max-width: 46rem;
    display: flex;
    flex-direction: column;
}

@media(min-width: 600px){
    .container{
        flex-direction: row;
        box-shadow: 10px 18px 50px hsl(var(--clr-neutral-hsl-700), .2);
        border-radius: var(--border-radius);    
        overflow: hidden;
        margin-inline: 1rem;
    }
}

.result{
    flex: 1;
    text-align: center;
    color: var(--clr-neutral-300);
    background: var(--clr-gradient-bg);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    padding: var(--padding) calc(var(--padding) * 1.5);
}

@media(min-width: 600px){
    .result{
        border-radius: var(--border-radius);
    }
}

.score{
    width: 12rem;
    aspect-ratio: 1/1;
    background: var(--clr-gradient-circle);
    border-radius: 50%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.score span{
    font-size: var(--fs-900);
    color: var(--clr-neutral-100);
    font-weight: var(--fw-extra-bold);
}

.remark{
    font-weight: var(--fw-bold);
    font-size: var(--fs-700);
    color: var(--clr-neutral-100);
}

.summary{
    flex: 1;
    padding: var(--padding);
}

.summary-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: .5rem;
    background-color: hsl(var(--item-color), .1);
    /* color: var(--item-color); */
}

.summary-name{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.summary-name svg {
    stroke: hsl(var(--item-color));
}
.summary-name h3{
    color: hsl(var(--item-color));
    font-weight: var(--fw-bold);
}

.summary-item[data-item-type = "accent-1"]{
    --item-color: var(--clr-summary-accent-hsl-1);
}
.summary-item[data-item-type = "accent-2"]{
    --item-color: var(--clr-summary-accent-hsl-2);
}
.summary-item[data-item-type = "accent-3"]{
    --item-color: var(--clr-summary-accent-hsl-3);
}
.summary-item[data-item-type = "accent-4"]{
    --item-color: var(--clr-summary-accent-hsl-4);
}

.summary-score{
    font-weight: var(--fw-bold);
    color: hsl(var(--clr-neutral-hsl-700), .5);
}

.summary-score span{
    color: var(--clr-neutral-700);
}